<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.neuedu.vue.mapper.ArticleMapper">

    <resultMap id="ArticleInfo" type="org.neuedu.vue.model.Article">
        <id column="aid" property="id"></id>
        <result column="title" property="title"></result>
        <result column="updatetime" property="updatetime"></result>
        <result column="views" property="views"></result>
        <association property="user" javaType="org.neuedu.vue.model.UserBean">
            <id column="uid" property="id"></id>
            <result column="nickname" property="nickname"></result>
        </association>
        <association property="column" javaType="org.neuedu.vue.model.Column">
            <id column="cid" property="id"></id>
            <result column="colname" property="colname"></result>
        </association>

    </resultMap>
    <select id="getAllArticles" resultMap="ArticleInfo">
        select a.id as aid,title,updatetime,views,u.id as uid,nickname,c.id as cid,colname
        from `article` a
        join `user` u
        on a.uid = u.id
        join `column` c
        on c.id = a.cid
        <where>
            <if test="status!=null and status!=0 and status!=-1">
                and status = #{status}
            </if>
            <if test="keyword!=null">
                and title like concat ('%',#{keyword},'%')
            </if>
            <if test="uid!=null">
                and uid = #{uid}
            </if>
        </where>
    </select>
    <update id="putArticle">
    update `article`
    <set>

        <if test="status==3">
            status=#{status},
        </if>
        <if test="status!=3">
            updatetime = #{updatetime},
        </if>
        <if test="cid!=null">
            cid=#{cid},
        </if>
        <if test="mdcontent!=null">
            mdcontent=#{mdcontent},hmcontent=#{hmcontent},
        </if>
        <if test="title!=null">
            title=#{title},
        </if>

    </set>
        where id = #{id}
    </update>
    
    <delete id="delArticle">
        delete from `article` where id =#{id}
    </delete>
    
    <delete id="delManyArticle">
        delete from `article`
        <where>
            id in
            <foreach collection="ids" item="id" separator="," close=")" open="(">
                #{id}
            </foreach>
        </where>
    </delete>

    <update id="updateManyArticle">
        update `article`
        set status = 3
        <where>
            id in
            <foreach collection="ids" item="id" separator="," close=")" open="(">
                #{id}
            </foreach>
        </where>
    </update>


    <insert id="addArticle">
        insert into `article` values(default,#{title},#{hmcontent},#{mdcontent},default,default,default,#{uid},#{cid},#{status})
    </insert>


    <select id="searchArticleById" resultType="org.neuedu.vue.model.Article">
        select *
        from `article`
        where id =#{id}
    </select>

    <resultMap id="DetailInfo" type="org.neuedu.vue.model.Article">
        <result column="title" property="title"></result>
        <result column="hmcontent" property="hmcontent"></result>
        <result column="views" property="views"></result>
        <result column="updatetime" property="updatetime"></result>
        <association property="user" javaType="org.neuedu.vue.model.UserBean">
            <result column="nickname" property="nickname"></result>
        </association>

    </resultMap>
    <select id="getArticleDetail" resultMap="DetailInfo">
        select title,hmcontent,views,updatetime,nickname
        from `article` a
        join `user` u
        on a.uid=u.id
        where a.id =#{id}
    </select>
</mapper>